body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#game-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw; 
    height: 90vh; 
    border-bottom: 15px solid green;
    background-color: #333;
    overflow: hidden;
}

#player {
    width: 150px;
    position: absolute;
    bottom: 0;
    
    
}

#player img {
    width: 150px;
    height: 100%;
}

#obstacle {
    position: absolute;
    bottom: 0px;
    width: 80px;
    
}

#obstacle img {
    width: 80px;
    height: 100px;
}

#score {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 24px;
}
